---
---
<div class="grid-bg" aria-hidden="true"></div>
<div class="ambient-orbs" aria-hidden="true">
  <div class="orb orb-1"></div>
  <div class="orb orb-2"></div>
  <div class="orb orb-3"></div>
</div>
<div class="spotlight" id="spotlight" aria-hidden="true"></div>
